build
**/build


*tmproj

**/~*

.DS_Store

**/**/**/bin/*
**/bin/*
bin/*

**/obj
obj

*.userprefs

.svn

Changelog

*.suo

TestResults/
*.csproj.user
*.testsettings
*.vsmdi
*.DotSettings.user
*.sln.DotSettings

xcuserdata

**/*.designer.cs
*.designer.cs

# Uncomment if necessary however generally it will be regenerated when needed
#!packages/repositories.config

.vs/